@import '~normalize.css';
@import '_variables';
@import 'modules/hello.scss';

body {
  background: hsl(186, 42%, 72%);
  color: hsl(184, 14%, 56%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
